<!-- items/templates/items/item_list.html -->
{% extends 'items/base.html' %}

{% block content %}
    <h1 class="text-center">Item List</h1>
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'item_create' %}" class="btn btn-primary">Add New Item</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <a href="{% url 'item_update' item.pk %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'item_delete' item.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
