{% extends 'items/base.html' %}

{% block content %}
    <div class="form-container">
        <h1 class="text-center">{{ form.instance.id|default:"Add a New Item" }}</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Name</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="id_description">Description</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="form-group">
                <a href="{% url 'item_list' %}" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
{% endblock %}
