{% extends 'items/base.html' %}

{% block content %}
<div class="center-screen">
    <h1 class="item-list-heading">CRUD Application</h1>
    <h2 class="item-list-heading_2">Elysian Metrics</h2>
    <div class="d-flex justify-content-between w-100" style="max-width: 800px;">
        <a href="{% url 'item_create' %}" class="btn btn-custom">Add New Item</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}</td>  <!-- This gives dynamic numbering -->
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td class="action-buttons">
                        <a href="{% url 'item_update' item.pk %}" class="btn btn-grey btn-sm action-btn">Edit</a>
                        <a href="{% url 'item_delete' item.pk %}" class="btn btn-danger btn-sm action-btn">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
