{% extends 'items/base.html' %}

{% block content %}
<div class="form-container-delete">
    <form method="post">
        {% csrf_token %}
        
        <!-- Title Section -->
        <h1 class="text-center">Are you sure you want to delete {{ item.name }}?</h1>
        
        <!-- Description Section with Invisible Border and Shadow on Top -->
        <div class="item-description-container">
            <p>{{ item.description }}</p>
        </div>

        <!-- Long Delete and Cancel Buttons -->
        <div class="button-container">
            <button type="submit" class="btn btn-danger btn-lg-a">Yes</button>
            <a href="{% url 'item_list' %}" class="btn btn-secondary btn-lg-b">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}






